<form method="POST" action="/articles/<%= @article.id %>">

  <input id="hidden" type="hidden" name="_method" value="PATCH">
  <input type="text" name="title" value=<%= @article.title %>>
  <input type="text" name="content" value=<%= @article.content %>>
  <input type="submit" id="submit">

</form>
