<<<<<<< HEAD
<form method="POST" action="/articles">

  <input type="text" name="title">
  <input type="text" name="content">
  <input type="submit" id="submit">

=======

<form action="/articles" method="post">
  <label>Title:</label>
  <input type="text" id="title" name="title" >

  <label>Content:</label>
  <input type="text" id="content" name="content" >

<input type="submit" name="submit" id="submit" >
>>>>>>> 2e8ac4cc0906e3806e1591cb4fb2d38bf6a1751b
</form>
