<h1><%= @article.title %></h1>

<%= @article.content %>
<form method="post" action="/articles/<%= @article.id %>">
<input type="hidden" value="delete" name="_method">
<input type="submit" value="delete">

</form>
